* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* #ece284; */
.page {
  --light: #ece284;
  --middle: #ffa500;
  --dark: #8b6f20;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}


/***********************
CONTAINER
***********************/
.container {
  margin: 0 auto;
  width: 1000px;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}


/***********************
HEADER
***********************/
.header {
  height: 60px;
  background-color: var(--dark);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Header - Logo ***/
.logo-left {
  margin: 5px 0;
  width: 320px;
  height: 50px;
  background-image: url("../assets/svg/200tbgamestudio.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-right {
  margin: 5px 0;
  width: 200px;
  height: 50px;
  text-align: right;
  background-image: url("../assets/svg/tictactoe.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


/***********************
MAIN
***********************/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 120px);
  min-height: 320px;
  background-color: var(--light);
  background-size: cover;
  background-repeat: no-repeat;
}


/***********************
SCORE
***********************/
.score {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.score-title {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-image: url("../assets/svg/score.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--dark);
}

.score-row {
  height: 100px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--dark);
}

.img-x {
  display: inline-block;
  width: 81px;
  height: 122px;
  background-image: url("../assets/img/x.png");
  background-position: 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.count-x {
  display: inline-block;
  width: 81px;
  height: 122px;
  background-image: url("../assets/img/0.png");
  background-position: 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-o {
  display: inline-block;
  width: 81px;
  height: 122px;
  background-image: url("../assets/img/o.png");
  background-position: 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.count-o {
  display: inline-block;
  width: 81px;
  height: 122px;
  background-image: url("../assets/img/0.png");
  background-position: 0 -10px;
  background-size: contain;
  background-repeat: no-repeat;
}


/***********************
PLAYGROUND
***********************/
.playground {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.playground.x {
/* https://snipp.ru/html-css/style-cursors */
  cursor: url("../assets/img/x.png") 50 50, auto;
}

.playground.o {
    cursor: url("../assets/img/o.png") 50 50, auto;
  }
  
  

.cell {
  width: 100px;
  height: 100px;
  border: 4px solid var(--light);
  border-radius: 20px;
  background-color: var(--dark);
  opacity: 1;
}

.highlight {
  opacity: 0.5;
}

.cell.x {
  background-image: url("../assets/img/x.png");
  background-position: 0px -10px;
}

.cell.o {
  background-image: url("../assets/img/o.png");
  background-position: 0px -10px;
}


.btn {
  width: 100px;
  height: 50px;
  background-image: url("../assets/svg/start.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--dark);
  border: 0;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-10px);
}

/***********************
FOOTER
***********************/
.footer {
  height: 60px;
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*** Footer - Logo ***/
.footer-github {
  display: block;
  width: 400px;
  height: 50px;
  background-image: url("../assets/svg/2022frontend200tb.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-github:hover {
  color: var(--gold);
}

.footer-logo {
  display: block;
  margin: 5px 0;
  width: 135px;
  height: 50px;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
